/* Animate a bouncing ball that repeats exactly 3 times.
Set up an infinite animation of a loading spinner.
Create an animation that runs only once and then stops.
Use a class toggle to switch between an animation that loops and one that doesn't.*/
#ball{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: blue;
    position: relative;
    animation: bouncing-ball 2s ease-in-out 3;
}

@keyframes bouncing-ball {
    0%, 100% { top: 0; }
    50% { top: 100px; }
}