#main{
    border: solid black 10px;
    color: #ffffff;
    background-color: #000000;
}

#content{
    padding-left: 10px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#hero{
    background-color: #da0000;
    padding-left: 10px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#head{
    background-color: hwb(198 0% 14%);
    padding-left: 10px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#conte{
    background-color: rgb(0, 219, 22);
    padding-left: 10px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#sidebar{
    background-color: #a800db;
    padding-left: 10px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#footer2{
    background-color: #888089;
    padding-left: 10px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#ma{
    padding-left: 20px;
}