#square1{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
    background-color: bisque;
    height: 100vh;
}

#square2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
    background-color: bisque;
    height: 100vh;
} 

#square3{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    color: black;
    background-color: bisque;
    height: 100vh;
} 