body{
    background-color: rgb(29, 29, 61);
}

nav{
    display:flex; justify-content:space-between; text-align: center;
}

.joining{
    color: white; display: flex; justify-content: center; border: none; text-decoration: none; background-color: lightseagreen; padding: 20px 20px; font-size: 16px; display: inline-block;
}

h6{
    text-align: center; color: rgb(10, 10, 197); font-size: larger;
}

h1{
    color:white; text-align: center; font-size: 80px; font-weight: 400;
}

.p1{
    color: white; text-align: center; font-size: 20px; font-weight: 200;
}

h2 a{
    color: white;
}

h3 a{
    color: white;
}

.button1{
    background-color: lightseagreen; border: none; color: white; padding: 15px 32px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; 
}

.button2{
    border: solid; border-color: rgb(31, 31, 81); padding: 15px 32px; text-align: center; color: blue; background-color: rgb(31, 31, 81);  border-color: blue; display: inline-block; font-size: 16px;
}


#div1{
    width:50%; height:auto; background-color:white;display:flex; margin-right: auto; border: 5px solid white; padding: 10px;     background-color: white;
}

#div2{
    width:50%; height:auto; background-color:white;display:flex; margin-right: auto; border: 5px solid white; padding: 10px;     background-color: white;
}

#div3{
    width:50%; height:auto; background-color:white;display:flex; margin-right: auto; border: 5px solid white; padding: 10px;     background-color: white;
}
/* .center1{ 
    margin-right: auto;
    width: 50%;
    border: 3px solid white;
    padding: 10px;
    background-color: white;
}

/* .center2{ 
    margin-right: auto;
    width: 50%;
    border: 3px solid white;
    padding: 10px;
    background-color: white;
}

/* .center3{ 
    margin-right: auto;
    width: 50%;
    border: 3px solid white;
    padding: 10px;
    background-color: white;
}*/